.formTitle {
  text-decoration: underline;
  width: 100%;
  
}


.border {
  border: black;
  border-radius: 10px;
  border-top: 30px solid;
  padding: 20px;
  border-width: 20%;
  background-color: #d3d3d3;
}

.subBtn {
  background-color:black;
  
}