.formTitle {
  text-decoration: underline;
  width: 100%;
  color: #4d4d4f
}


.border {
  border: black;
  border-radius: 10px;
  border-top: 30px solid;
  padding: 20px;
  border-width: 20%;
  background-color: #f2f2f2;
}
