.link {
  color: black;
  font-weight: bolder;
  padding: 80px;
  width: 100%;
}

.link:hover {
  text-decoration: none;
  color: red;
  border: darkgray;
}

.navBar {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #d3d3d3;
  height: 70px;
}
