@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

.footer {
    overflow: hidden;
    background-color: #f2f2f2;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 17%;
    margin: 50px 0 0;
}
 
.icons{
	margin-top: 25px;
    text-align: center;
}

.icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #4d4d4f;
	border-radius: 2px;
    font-size: 20px;
	color: #f2f2f2;
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
	margin-bottom: 5px; 
}

.name {
    text-align: center;
    color: #4d4d4f;
    font-size: 10px;
    line-height: 1.8rem
}

