.link {
  color: #4d4d4f;
  font-weight: bolder;
  width: 100%;
  text-align: center ;
  position: relative;
  padding: 5%;
}

.link:hover {
  text-decoration: none;
  color: red;
}

.navBar {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  height: 70px;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  
}
