.randomShoePic {
    margin: 5% 5% 5% 5%;
    position: relative;
    padding: 5%;
    
}

.randomShoeTitle {
    color:#b7b7b8
}

.randomButton {
    padding: 15px 32px
}

.randomShoeName{
    text-align: center;
}