.randomShoe {
    margin: 5% 5% 5% 5%;
    position: relative;
}

.grid {
    min-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.randomShoeTitle {
    color:#b7b7b8;
    margin-top: 2.5%;
}

.randomButton {
    padding: 20px 32px;
    margin-top: 2.5%;
}

.randomShoeName{
    text-align: center;
}

.randomShoeContainer{ 
    padding: 20px;
    width: 100%;
    margin-left: 50%;
    position: relative;
}

.randomShoeInfoTitle {
    text-decoration: underline;
    text-align: center;
}

.randomShoeText {
    text-align: center;
}

