label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.shoeImg {
  height: 350px;
  width: 645px;
}

.shoeName {
  text-decoration: underline;
}

/* .searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
} */
.shoeInfo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  display: inline;
  width: 49%;
  padding: 2px 16px;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* .fas fa-search {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
} */

/* .fetch-button {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
} */
