.searchMessage {
  padding-left: 10%;
}



.searchBar {
  padding: 40px;
  ;
}
input,
label {
  margin: 0.4rem 0;
}

.shoeImg {
  height: 250px;
  width: 445px;
}

.shoeName {
  text-decoration: underline;
}

.shoeInfoHolder{
  padding-left: 10%;
  
}

.shoeInfo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  display: inline;
  width: 49%;
  padding: 2px 16px;
  margin: 10px;
  padding-left: 10px;
  border: black;
  border-radius: 30px;
}

/* .fas fa-search {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
} */

/* .fetch-button {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
} */
